
<div class="form-new mt-5">
  <h1>Add Recipe to specific category</h1>

  <%= simple_form_for [@category, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :recipe %>
    <%= f.submit "Add recipe", class: "btn btn-info"%>
  <% end %>
  <br>
  <%= link_to "Back to Category Page", category_path(@category), class: "btn btn-primary" %>

</div>
